<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:c="http://www.w3.org/1999/XSL/Transform" xmlns:th="http://www.thymeleaf.org">

<body>

    <div th:fragment="navbar(module)">
        <style>
            /* Dropdown menu background color*/

            .topmenu > .dropdown > .dropdown-menu ul {     background-color:rgba(0,0,0,.6);  }

            /* Dropdown menu font color*/

            .topmenu >.dropdown > .dropdown-menu li{  border-right: none;   }
            .topmenu >.dropdown > .dropdown-menu >li >a{ color: #8facf4 !important;   }
        </style>
        <div class="bgded overlay" >
            <!-- ################################################################################################ -->
            <div class="wrapper row0">
                <div id="topbar" class="hoc clear">
                    <div class=" fl_left  ">
                        <form class="navbar-form" role="search" th:action="@{/freetext_form}" method="POST"  id="freetextform">
                            <div class=" input-group" >
                                <input type="text" class="form-control " placeholder="Τι θα ψάξουμε σήμερα;" style="height:40px; text-align: center">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-lgrr" style="	right: 0;height: 40px;width: 40px;	border: none;cursor: pointer;border-radius: 0;	font-size : 16px;	margin-left:2px;">
                                        <i class="fa fa-search" ></i>
                                    </button>
                                 </span>
                            </div>
                        </form>
                    </div>
                    <!-- ################################################################################################ -->
                    <div id="topmenu" class="fl_right">
                    <ul>
                        <div style="font-size:13px;" th:if ="${(uname != null) and (type=='1')} ">

                                <li>
                                    <strong><span th:text="${uname}"></span></strong>
                                </li>
                                <li class="dropdown">
			                    <a class="dropdown-toggle" data-toggle="dropdown" style="font-size:13px;">Το προφιλ μου <span class="caret"></span></a>
			                        <ul class="dropdown-menu" role="menu" style="text-transform: capitalize; font-size:12px;">
                                        <!--style=" background-color:rgba(0,0,0,.6); " -->
                                        <li><a th:href="@{/profile(tab=elements)}">&nbsp; Στοιχεία Χρήστη</a></li>
                                        <li><a th:href="@{/profile(tab=wallet)}">&nbsp; Πορτοφόλι</a></li>
                                        <li><a th:href="@{/buypoints}">&nbsp; Αγορά Πόντων</a></li>
                                        <li><a th:href="@{/profile(tab=reservations)}">&nbsp; Κρατήσεις</a></li>
                                        <li><a th:href="@{/profile(tab=old_activities)}">&nbsp; Παλαιότερες Κρατήσεις</a></li>
                                        <li><a th:href="@{/profile(tab=bookmarks)}">&nbsp; Αγαπημένα</a></li>
                                    </ul>
                                </li>

                                <li>
                                    <a style="font-size:13px;" th:href="@{/logout}">Αποσυνδεση</a></li>
                                </li>

                            </div >
                            <div style="font-size:13px;" th:if ="${(uname != null) and (type=='2')} ">
                                <li><a th:href="@{/index}"><i class="fa fa-lg fa-home"></i></a></li>
                                <li>
                                    <strong><span th:text="${uname}"></span></strong>
                                </li>
                                <li class="dropdown">
                                    <a style="font-size:13px;" class="dropdown-toggle" data-toggle="dropdown">Το προφιλ μου <span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu" style="text-transform: capitalize; font-size:12px;">
                                    <!--style=" background-color:rgba(0,0,0,.6); " -->
                                        <li ><a th:href="@{/profileProvider(tab=elements)}">Στοιχεία Χρήστη</a></li>
                                        <li ><a th:href="@{/profileProvider(tab=wallet)}">Πορτοφόλι</a></li>
                                        <li ><a th:href="@{/profileProvider(tab=cur_activites)}">Επισκόπηση</a></li>
                                        <li ><a th:href="@{/profileProvider(tab=old_activites)}">Δραστηριότητες</a></li>
                                    </ul>
                                </li>
                                <li>
                                <a style="font-size:13px;" href="logout">Αποσυνδεση</a></li>
                                </li>
                            </div >
                            <div style="font-size:13px;" th:if ="${(uname == null) or (type==null)} ">
                                <li><a th:href="@{/index}"><i class="fa fa-lg fa-home"></i></a></li>
                                <li>
                                    <a style="font-size:13px;" data-toggle="modal" href="#login_overlay">Συνδεση</a>
                                </li>
                                <li>
                                    <a style="font-size:13px;" th:href="@{/register}">Εγγραφη</a></li>
                                </li>
                                <li>
                                    <a style="font-size:13px;" th:href="@{/register_prov}">Παροχοι</a>
                                </li>
                            </div >
                            <div th:if ="${(uname != null) and (type=='0')} ">
                                <li><a th:href="@{/index}"><i class="fa fa-lg fa-home"></i></a></li>
                                <li>
                                    <strong><span th:text="${uname}"></span></strong>
                                </li>
                                <li>
                                <a style="font-size:13px;" href="logout">Αποσύνδεση</a></li>
                                </li>
                            </div >
                    </ul>
                    </div>
                    <!-- ################################################################################################ -->
                </div>
            </div>
            <!-- ################################################################################################ -->
            <!-- ################################################################################################ -->
            <!-- ################################################################################################ -->


            <div class="wrapper row1">
                <header id="header" class="hoc clear">
                    <!-- ################################################################################################ -->
                    <div id="logo" class="fl_left">
                        <h1><a th:href="@{/index}">Kiddom</a></h1>
                    </div>
                    <nav id="mainav" class="fl_right">
                        <ul class="clear">
                            <li th:classappend="${module == 'index' ? 'active' : ''}">
                                <a  th:href="@{/index}">Αρχικη</a>
                            </li>
                            <li><a class="drop" >Δραστηριοτητες</a>
                                <ul>
                                    <li th:classappend="${module == 'activity' ? 'active' : ''}">
                                        <a  th:href="@{/activity}">Ενεργη Δραστηριοτητα</a>
                                    </li>
                                    <li th:classappend="${module == 'activity_reg' ? 'active' : ''}">
                                        <a  th:href="@{/activity_reg}">Δημιουργια Δραστηριοτητας</a>
                                    </li>
                                    <li th:classappend="${module == 'activity_reg' ? 'active' : ''}">
                                        <a  th:href="@{/activity_reg}">Παλαιοτερες δραστηριοτητες</a>
                                    </li>


                                </ul>
                            </li>
                            <li th:classappend="${module == 'about' ? 'active' : ''}">
                                <a  th:href="@{/about}">Σχετικα με εμας</a>
                            </li>
                            <li th:classappend="${module == 'faq' ? 'active' : ''}">
                                <a  th:href="@{/faq}">FAQ</a>
                            </li>
                        </ul>
                    </nav>
                    <!-- ################################################################################################ -->
                </header>
                <div >
                    <div id="breadcrumb" class="hoc clear">
                        <!-- ################################################################################################ -->
                        <ul>
                            <li><a th:href="@{/index}">Αρχικη</a></li>
                            <span th:if ="${(module != null)} ">
                                 <span th:if="${(module=='admin')}">
                                    <li>Σελιδα διαχειριστη</li>
                                </span>
                                <span th:if="${(module=='about')}">
                                    <li>Σχετικα με εμας</li>
                                </span>
                                <span th:if="${(module=='faq')}">
                                    <li>FAQ</li>
                                </span>
                                <span th:if="${(module=='activity_reg')}">
                                    <li>Δημιουργια Δραστηριοτητας</li>
                                </span>
                                <span th:if="${(module=='activity')}">
                                    <li>Δραστηριοτητα</li>
                                </span>
                                <span th:if="${(module=='register')}">
                                    <li>Εγγραφη γονεα</li>
                                </span>
                                <span th:if="${(module=='register_prov')}">
                                    <li>Εγγραφη παροχου</li>
                                </span>
                                <span th:if="${(module=='search')}">
                                    <li>Αναζητηση</li>
                                </span>
                                <span th:if="${(module=='profile')}">
                                    <li>Προφιλ γονεα</li>
                                </span>
                                <span th:if="${(module=='profile_prov')}">
                                    <li>Προφιλ παροχου</li>
                                </span>
                                <span th:if="${(module=='buypoints')}">
                                    <li><a th:href="@{/profile}">Προφιλ γονεα</a></li>
                                    <li>Aγορα ποντων</li>
                                </span>
                                <span th:if="${(module=='error_page')}">
                                    <li>Λαθος</li>
                                </span>
                                <span th:if="${(module=='activityProvider')}">
                                    <li><a th:href="@{/profileProvider}">Προφιλ Παροχου</a></li>
                                    <li>Επισκοπηση Δραστηριοτητας</li>
                                </span>
                            </span>

                        </ul>
                        <!-- ################################################################################################ -->
                    </div>
                </div>
            </div>
            <!-- ################################################################################################ -->
            <!-- ################################################################################################ -->
            <!-- ################################################################################################ -->
            <!-- End Top Background Image Wrapper -->

        </div>
        <!--- SYNDESI           .............................................................              -->
        <div class="modal fade" id="login_overlay">
            <div  class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Κλείσιμο</span></button>
                        <h4 class="modal-title" id="myModalLabel">Συνδεση στο KIDDOM</h4>

                    </div>
                    <div class="modal-body">
                        <div class="row">

                            <div class="logindiv" style="margin:0 auto;">
                                <div class="well" style="margin-left: 8px; margin-right: 8px">
                                    <form class="group" id="loginForm" method="POST" th:action="@{/login}" novalidate="novalidate">

                                        <div class="form-group">
                                            <label for="username" class="control-label">Όνομα Χρήστη</label>
                                            <input type="text" class="form-control" id="username" name="username" value="" required="required" title="Συμπληρώστε το όνομα χρήστη" placeholder="Όνομα χρήστη">
                                            <span class="help-block"></span>
                                        </div>
                                        <div class="form-group">
                                            <label for="password" class="control-label">Κωδικός Χρήστη</label>
                                            <input type="password" class="form-control" id="password" name="password" value="" required="required" title="Συμπληρώστε τον κωδικό σας" placeholder="Κωδικός χρήστη">
                                            <span class="help-block"></span>
                                        </div>
                                        <div id="loginErrorMsg" class="alert alert-error hidden">Λάθος όνομα ή κωδικός χρήστη</div>

                                        <div  class="form-group" style="display:inline-block">
                                            <!--div   class="checkbox" >
                                                <label><input type="checkbox" id="remeber" /> Να με θυμάσαι </label>

                                            </div-->
                                        </div>
                                        <button type="submit" class="btn btn-success btn-block">Συνδεση</button>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
</html>