<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Admin</title>
    <meta th:replace="fragments/head :: head">
</head>
<body id="top">
<div th:replace="fragments/navbar :: navbar('admin')"></div>

<div class="container">
    <div class="row">
        <h1>Providers</h1>
    </div>
    <div class="wrapper row3">
        <main class="mainbodyHoc hoc container clear">
            <!-- main body -->
            <div class="center">
                <div th:if ="${(items==null)}">
                    <div class="alert alert-success" style="text-align: center;"> Δεν υπάρχουν ετοίματα Παρόχων</span>! <br>  </div>
                </div >
                <div th:if ="${(items!=null)}">
                    <div class="row">
                        <table class="table">
                            <tr>
                                <th>First name</th>
                                <th>Last name</th>
                                <th>Email</th>
                            </tr>
                            <tr th:each="provider : ${items}">
                                <form method="POST" th:action="@{/accept/{provID}(provID=${provider.username})}">
                                <td th:text="${provider.name}"></td>
                                <td th:text="${provider.surname}"></td>
                                <td th:text="${provider.email}"></td>
                                    <td><button class="btn btn-warning" type="submit">Έγκριση</button></td>
                                </form>
                            </tr>
                        </table>
                    </div>
                    <div th:replace="fragments/paginationbar :: paginationbar"></div>
                </div>
            </div>
        </main>
    </div>
</div>
<script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
<script th:src="@{/js/app.js}"></script>
<div th:replace="fragments/foot :: foot"></div>
<script th:src="@{/scripts/menuformobile.js}"></script>
</body>
</html>