<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org">
<html>
<head >
    <title>Kiddom-Buy Points</title>
    <meta th:replace="fragments/head :: head">
    <style>

        .form input[type="text"],.form input[type="number"],.mybox select {
            outline: none;
            padding: 10px 0;
            font-size: 13px;
            border: none;
            border-bottom: 2px solid #f2f2f2;
            background: none;
            font-weight: 600;
            font-family: 'Raleway', sans-serif;
            width:100%;
        }
        .control-label {
            font-size: 13px;
            color: #00968f;
            font-weight: 600;
            letter-spacing: 2px;
        }

        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            /*-webkit-appearance: "Always Show Up/Down Arrows";*/
            opacity: 1;

        }

        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 30px;
            right: 30px;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            /*background-color: rgb(0,0,0); !* Fallback color *!*/
            /*background-color: rgba(0,0,0,0.4); !* Black w/ opacity *!*/
        }

        /* Modal Content */
        .modal-content {
            position: relative;
            /*background-color: #fefefe;*/
            margin: auto;
            padding: 0;
            /*border: 1px solid #888;*/
            width: 70%;
            /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);*/
            -webkit-animation-name: animatetop;
            -webkit-animation-duration: 0.4s;
            animation-name: animatetop;
            animation-duration: 0.4s
        }

        /* Add Animation */
        /*@-webkit-keyframes animatetop {*/
        /*from {top:-300px; opacity:0}*/
        /*to {top:0; opacity:1}*/
        /*}*/

        /*@keyframes animatetop {*/
        /*from {top:-300px; opacity:0}*/
        /*to {top:0; opacity:1}*/
        /*}*/

        /* The Close Button */
        .close {
            color: grey;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }

        select:required:invalid {
            color: gray;
        }
        option[value=""][disabled] {
            display: none;
        }
        option {
            color: black;
        }
    </style>

</head>

<body id="top">
<div th:replace="fragments/navbar :: navbar('buypoints')"></div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- Top Background Image Wrapper -->

<div  class="wrapper row3" style="background-color:white" >
    <main class="hoc container clear" >
        <div class="row">
            <div id="change_form" style="display: none;">
                <form class="form-horizontal" method="POST" th:action="@{/pointsBuy}"   >
                    <div class="form-group" >
                        <label class="control-label col-sm-2" for="totalPoints">TotalPoints:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="totalPoints"  name="totalPoints">
                            <!--<div type=text" id="totalPoints"  name="totalPoints"> 100 </div>-->
                        </div>
                    </div>
                    <div class="form-group">
                        <div class=" col-sm-offset-2 col-sm-1">
                            <button id="finishbutton" type="submit" class="btn btn-default">Αλλαγή</button>
                        </div>
                    </div>
                </form>
            </div>
            <h3 style="text-transform: none;"> Επιλέξτε πακέτο ή πληκτρολογείστε τον επιθυμητό αριθμό πόντων</h3>
            <!--<div class="w3ls_main_grid_right_grid_form">-->
            <div class="col-md-4">
                <form class="form" action="#" method="post">
                    <!--<div class="w3l_main_grid_right_grid_form1">-->

                    <div class="form-group">
                        <label class="control-label" > Πακέτο 1 (260 πόντοι - 50€)</label>
                        <!--<div class="col-sm-8">-->
                        <input type="number" value="0" id="quantity" min="0" required="" oninput="calculate()"><br>
                        <!--</div>-->
                    </div>
                    <div class="form-group">
                        <label class="control-label"> Πακέτο 2 (530 πόντοι - 100€)</label>
                        <!--<div class="col-sm-8">-->
                        <input type="number" value="0" id="quantity2" min="0" required="" oninput="calculate()"><br>
                        <!--</div>-->
                    </div>
                    <div class="form-group">
                        <label class="control-label"> Πακέτο 3 (1070 πόντοι - 200€)</label>
                        <!--<div class="col-sm-8">-->
                        <input type="number" value="0" id="quantity3" min="0" required="" oninput="calculate()"><br>
                        <!--</div>-->
                    </div>

                    <div class="form-group">
                        <label class="control-label">Πληκτρολογήστε αριθμό πόντων</label>
                        <input type="text" value="0" name="Points" id="quantity4" min="0"  placeholder="Aριθμός πόντων" required="" oninput="calculate()">
                    </div>
                </form>

                <!--<button class="btn" onclick="reset()" > Tέλος </button>-->
            </div>
            <div class="col-md-4 col-md-offset-2">
                <!--<div class="hidden-xs" > <br><br><br> </div>-->

                <h2 class="col-md-offset-1">Total cost</h2>
                <h3 id="cost" style="position: relative;padding:2em; background:#f1a700; text-align: center"> 0€ </h3>

                <br>
                <h2 class="col-md-offset-1"> Total Points</h2>
                <h3 id="points"  style="position: relative;padding:2em; background:#f1a700; text-align: center"> 0 </h3>



            </div>
        </div>

        <br>
        <div class=" col-md-4"  >
            <br><br><br>
            <div style="position: relative;padding:5em; background:#f1a700; text-align: center">
                <h2> ΠΛΗΡΩΜΗ </h2>
                <div class=" mybox">
                    <select style=" float: right; margin: 0px 0px 0px 0px;" id="payment"  onchange="pr()">
                        <option value="1" selected>Πιστωτικη καρτα</option>
                        <option value="2">Paypal</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="col-md-8 " id="credit_payment"  >
            <!--<div class="row">-->
            <!--<div class="col-xs-12 col-md-4 col-md-offset-2">-->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        ΛΕΠΤΟΜΕΡΕΙΕΣ ΠΛΗΡΩΜΗΣ
                    </h3>
                </div>
                <div class="panel-body">
                    <form role="form">
                        <div class="form-group">
                            <label for="cardNumber">
                                Αριθμός Κάρτας</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="cardNumber" placeholder="Valid Card Number"
                                       required autofocus />
                                <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-7 col-md-7">
                                <div class="form-group">
                                    <label >
                                        Ημερομηνία Λήξης</label>
                                    <div class="col-xs-6 col-lg-6 pl-ziro">
                                        <!--<input type="text" class="form-control" id="expityMonth" placeholder="MM" required / >-->
                                        <select class="form-control" required  >
                                            <option  value="" disabled selected >Μήνας</option>
                                            <option value="Ιανουάριος">01</option>
                                            <option value="Φεβρουάριος">02</option>
                                            <option value="Μάρτιος">03</option>
                                            <option value="Απρίλιος">04</option>
                                            <option value="Μάιος">05</option>
                                            <option value="Ιούνιος">06</option>
                                            <option value="Ιούλιος">07</option>
                                            <option value="Αύγουστος">08</option>
                                            <option value="Σεπτέμβριος">09</option>
                                            <option value="Οκτώβριος">10</option>
                                            <option value="Νοέμβριος">11</option>
                                            <option value="Δεκέμβριος">12</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-6 col-lg-6 pl-ziro">
                                        <input type="text" class="form-control" id="expityYear" placeholder="Xρονιά" required /></div>
                                </div>
                            </div>
                            <div class="col-xs-5 col-md-5 pull-right">
                                <div class="form-group">
                                    <label for="cvCode">
                                        CV CODE</label>
                                    <input type="password" class="form-control" id="cvCode" placeholder="CV" required />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <ul class="nav nav-pills nav-stacked">
                <li style="text-align: center" class="active" ><a href="#"><span class="glyphicon glyphicon-euro" id="points2"></span> Final Payment</a>
                </li>
            </ul>
            <br/>
            <button   id="myBtn" class="btn btn-success btn-lg btn-block">Πληρωμη</button>
        </div>
        <div id="myModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
                <div class="modal-header">
                    <span class="close" >
                        <button type="button" class="close" id="closebutton"  aria-hidden="true"  >  X</button>
                    </span>
                </div>
                <div class="modal-body" style="text-align: center">
                    <strong> Η συναλλαγή ολοκληρώθηκε.</strong>
                    <strong> Αποκτήσατε <div id="finalpoints">  </div>  πόντους</strong>
                    <br>
                    <a  th:href="profile" class="btn btn-success" role="button" data-dismiss="myModal" onclick="reset()"> EΠΙΣΤΡΟΦΗ ΣΤΟ ΠΟΡΤΟΦΟΛΙ</a>


                </div>

            </div>

        </div>

        <div class="col-md-8" id="paypal_payment" style="display: none">

            <!--<div class="row">-->
            <!--<div class="col-xs-12 col-md-4 col-md-offset-2">-->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        ΠΛΗΡΩΜΗ ΜΕ PAYPAL
                    </h3>
                </div>
                <div class="panel-body">
                    <form role="form">
                        <div class="form-group">
                            <label for="username">
                                Όνομα Χρήστη</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="username" placeholder="Username"
                                       required autofocus />
                                <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Email">
                                Email</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="Email" placeholder="noreply@email.com"
                                       required autofocus />
                                <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <ul class="nav nav-pills nav-stacked">
                <li style="text-align: center" class="active"><a href="#"><span class="glyphicon glyphicon-euro" id="points3"></span> Final Payment</a>
                </li>
            </ul>
            <br/>
            <button  id="myBtn2" class="btn btn-success btn-lg btn-block" >Πληρωμη</button>
        </div>
    </main>
</div>

<div th:replace="fragments/foot :: foot"></div>

<!--<script>-->
<!--function myFunction() {-->
<!--document.getElementById("finishbutton").click();-->
<!--}-->
<!--document.getElementById('totalPoints').value = 200;-->
<!--var button = document.getElementById("buybutton");-->
<!--button.onclick = function () {-->

<!--myFunction();-->
<!--}-->
<!--</script>-->

<script>
    // Get the modal

    var modal = document.getElementById('myModal');
    var btn = document.getElementById("myBtn");
    var btn2 = document.getElementById("myBtn2");
    var finalpoints = document.getElementById("finalpoints");
    var closebutton = document.getElementById("closebutton");
    function myFunction() {
        document.getElementById("finishbutton").click();
    }
    //    document.getElementById('totalPoints').value = 200;



    // When the user clicks on the button, open the modal
    btn.onclick = function() {
//        document.getElementById('change_form').submit();
        var quantity = parseInt(document.getElementById("quantity").value);
        var quantity2 = parseInt(document.getElementById("quantity2").value);
        var quantity3 = parseInt(document.getElementById("quantity3").value);
        var quantity4 = parseInt(document.getElementById("quantity4").value);
        var points = (quantity * 260) + (quantity2 * 530) + (quantity3 * 1070) + (quantity4);
        document.getElementById("finalpoints").innerText = points;
        modal.style.display = "block";
        myFunction();
    }
    btn2.onclick = function() {
        var quantity = parseInt(document.getElementById("quantity").value);
        var quantity2 = parseInt(document.getElementById("quantity2").value);
        var quantity3 = parseInt(document.getElementById("quantity3").value);
        var quantity4 = parseInt(document.getElementById("quantity4").value);
        var points = (quantity * 260) + (quantity2 * 530) + (quantity3 * 1070) + (quantity4);
        document.getElementById("finalpoints").innerText = points;
        modal.style.display = "block";
    }
    //    reset();
    // When the user clicks on <span> (x), close the modal
    closebutton.onclick = function() {
        reset();
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            reset();
            modal.style.display = "none";
        }
    }

</script>

<script>
    function hidediv(id){$('#'+id).css('display','none');}
    function showdiv(id){$('#'+id).css('display','block');}
</script>
<script >
    $('#user_input, #pass_input, #v_pass_input, #email').bind('keyup', function() {
        if(allFilled()) $('#register').removeAttr('disabled');
    });
</script>

<script>
    function allFilled() {
        var filled = true;
        $('body input').each(function() {
            if($(this).val() == '') filled = false;
        });
        return filled;
    }

</script>
<script>
    function pr() {
        if (document.getElementById("payment").value == "1") {

            showdiv('credit_payment');

        }
        else {

            hidediv('credit_payment');

        }
        if (document.getElementById("payment").value == "2") {
            showdiv('paypal_payment');
        }
        else {
            hidediv('paypal_payment');
        }
    }
</script>
<script>
    function calculate() {
        var cost = 10;
        var quantity = parseInt(document.getElementById("quantity").value);
        var quantity2 = parseInt(document.getElementById("quantity2").value);
        var quantity3 = parseInt(document.getElementById("quantity3").value);
        var quantity4 = parseInt(document.getElementById("quantity4").value);
        if (quantity4 < 0) {
            alert("Πληκτρολογειστε μια τιμη μεγαλύτερη ή ιση με το 0");
            return;
        }
        var quantity5 = (quantity * 50) + (quantity2 * 100) + (quantity3 * 200) + (quantity4 / 5);
        var points = (quantity * 260) + (quantity2 * 530) + (quantity3 * 1070) + (quantity4);
        document.getElementById("cost").innerText = quantity5 + "$";
        document.getElementById("points").innerText = points;
        document.getElementById('totalPoints').value = points;
        document.getElementById("points2").innerText =quantity5;
        document.getElementById("points3").innerText =quantity5;
    }


    function reset() {
//        alert("Πληκτρολογειστε μια τιμη μεγαλύτερη ή ιση με το 0");

        document.getElementById("quantity").value = 0;
        document.getElementById("quantity2").value = 0;
        document.getElementById("quantity3").value = 0;
        document.getElementById("quantity4").value = 0;
        calculate();
    }
</script>

</body>
</html>