<!DOCTYPE html>

<html  xmlns="http://www.w3.org/1999/xhtml"
	   xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Kiddom-Provider Register</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<link th:href="@{css/layout.css}" rel="stylesheet" type="text/css" media="all">
	<link th:href="@{css/register_new.css}" rel="stylesheet" type="text/css" media="all">
	<script th:src="@{scripts/register_new.js}"></script>
	<link th:href="@{styles/jquery-ui.css}" rel="stylesheet" type="text/css" media="all">
	<link th:href="@{styles/jquery-ui.structure.css}" rel="stylesheet" type="text/css" media="all">
	<link th:href="@{styles/jquery-ui.theme.css}" rel="stylesheet" type="text/css" media="all">




</head>
<body id="top">
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- Top Background Image Wrapper -->
<div class="bgded overlay" >
	<div class="wrapper row0">
		<div id="topbar" class="hoc clear">
			<div class="fl_right">
				<ul>
					<li><a href="index"><i class="fa fa-lg fa-home"></i></a></li>
					<li>Συνδεση</li>
					<li>Εγγραφη</li>
					<li class="active" >Πaροχοι</li>
				</ul>
			</div>
			<!-- ################################################################################################ -->
		</div>
	</div>
	<div class="wrapper row1">
		<header id="header" class="hoc clear">
			<!-- ################################################################################################ -->
			<div id="logo" class="fl_left">
				<h1><a href="index">Kiddom</a></h1>
			</div>
			<nav id="mainav" class="fl_right">
				<ul class="clear">
					<li><a href="index">Αρχικη</a></li>
					<li><a class="drop" href="#">Δραστηριοτητες</a>
						<ul>
							<li><a href="gallery.html">Ενεργές Δραστηριότητες</a></li>
							<li><a href="full-width.html">Παλαιότερες Δραστηριότητες</a></li>
						</ul>
					</li>
					<li><a href="about">Σχετικα με εμας</a></li>
					<li><a href="#">FAQ</a></li>
				</ul>
			</nav>
			<!-- ################################################################################################ -->
		</header>
		<div class="wrapper row1">
			<div id="breadcrumb" class="hoc clear">
				<!-- ################################################################################################ -->
				<ul>
					<li>Εγγραφη παροχου</li>
				</ul>
				<!-- ################################################################################################ -->
			</div>
		</div>
	</div>
</div>

<div class="wrapper row3" style="background-color:#b7c1ae" >
	<main class="hoc container clear" >
		<div id="pageintro" class="hoc clear" style="padding:1% 0 1% 0 ">
			<div id="container_demo"  >
				<div id="wrapper stepwizard">
					<div class="stepwizard-row setup-panel ">
						<div class="stepwizard-step">
							<a href="#step-1" type="button" class="btn btn-primary btn-circle">1</a>
						</div>
						<div class="stepwizard-step">
							<a href="#step-2" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
						</div>
					</div>
					<br>

					<div id="login" >
						<form  class="group" id="loginForm" method="POST" th:action="@{/register_prov}" autocomplete="on">

							<div class="row setup-content" id="step-1">

								<div class="col-md-10">
									<h4>Βήμα 1 :Συμπληρώστε τα στοιχεία σας</h4>
									<div class="form-group">
										<label for="name" class="name" data-icon="o">Όνομα</label>
										<input id="name" name="name" required="required" class="form-control" type="text" placeholder="πχ .Κώστας" />
										<span class="help-block"></span>
									</div>
									<div class="form-group">
										<label for="surname" class="surname" data-icon="ε">Επώνυμο</label>
										<input id="surname" name="surname" required="required" class="form-control" type="text" placeholder="πχ .Κώστας"  />
										<span class="help-block"></span>
									</div>

									<div class="form-group">
										<label  for ="town" class="town"  data-icon="π">Πόλη Διαμονής</label>
										<input id="town" name="town" required="required" class="form-control" type="text"  placeholder="πχ. Αθήνα"/>
										<span class="help-block"></span>
									</div>
									<div class="form-group">
										<label for="area" class="area" data-icon="κ" >Περιοχή</label>
										<input id="area" name="area" required="required" class="form-control" type="text"  placeholder="πχ. Αργυρούπολη"/>
										<span class="help-block"></span>
									</div>

									<div class="form-group">
										<label for="telephone" class="tel" data-icon="κ">Τηλέφωνο</label>
										<input id="telephone" name="telephone" required="required" class="form-control" type="text" placeholder="πχ .6975649578" />
										<span class="help-block"></span>
									</div>

									<div class="form-group">
										<label for="TR" class="afm" data-icon="κ"> ΑΦΜ </label>
										<input id="tr" name="tr" required="required" type="text" class="form-control" placeholder="πχ 1234567898"/>
										<span class="help-block"></span>
									</div>
									<div class="form-group">
										<label for="image" class="photo_upload" >Θα θέλατε να ανεβάσετε μια Φωτογραφία Προφιλ ;</label>
										<input name="image" id="image" type="file" accept="image/*" id="menu_images" style="color: black;"/>
										<!--img id="menu_image" class="preview_img" /-->
										<span class="help-block"></span>
									</div>
									<button class="btn btn-primary nextBtn btn-lg pull-right" type="button" >Επόμενο</button>
								</div>

							</div>
							<div class="row setup-content" id="step-2">
								<div class="col-md-10">
									<h4>Βήμα 2 :Στοιχεία Λογιαρισμού</h4>
									<div class="form-group">
										<label for="username" class="uname" data-icon="χ">Όνομα χρήστη</label>
										<input id="username" name="username" required="required" class="form-control" type="text" placeholder="mysuperusername690" />
										<span class="help-block"></span>
									</div>
									<div class="form-group">
										<label for="email" class="youmail" data-icon=" &#x2709;" > Εmail</label>
										<input id="email" name="email" required="required" class="form-control" type="email" placeholder="mysupermail@mail.com"/>
										<span class="help-block"></span>
									</div>
									<div class="form-group">
										<label for="password" class="youpasswd" data-icon="κ">Κωδικός </label>
										<input id="password" name="password" required="required" class="form-control" type="password" placeholder="πχ X8df!90EO"/>
										<span class="help-block"></span>
									</div>
									<div class="form-group">
										<label for="passwordsignup_confirm" class="youpasswd" data-icon="κ">Επιβεβαίωση κωδικού</label>
										<input id="passwordsignup_confirm" name="passwordsignup_confirm" required="required" class="form-control" type="password" placeholder="πχ. X8df!90EO"/>
										<span class="help-block"></span>
									</div>

									<button class="btn btn-success btn-lg pull-right" type="submit">Εγγραφη</button>
								</div>
							</div>

						</form>
							<p class="change_link" style="position: relative;">
								Είστε ήδη μέλος ;
								<a href="index#login_overlay" class="to_register"> Σύνδεση </a>
							</p>

					</div>
				</div>
			</div>
		</div>
	</main>
</div>

<!-- ################################################################################################ -->
<div class="wrapper row4 bgded overlay" >
	<footer id="footer" class="hoc clear">
		<!-- ################################################################################################ -->
		<div class="one_half first">
			<h6 class="title">Social Media</h6>
			<p>Ακολουθείστε μας στα social media για να μαθαίνετε πρώτοι τα νέα του Kiddom.</p>
			<!--  <p class="btmspace-15">Malesuada non sem quisque vulputate velit et nisi ullamcorper aliquet tincidunt ut id magna leo mattis in quam dapibus.</p>-->
			<ul class="faico clear">
				<li><a class="faicon-facebook" href="#"><i class="fa fa-facebook"></i></a></li>
				<li><a class="faicon-twitter" href="#"><i class="fa fa-twitter"></i></a></li>
			</ul>
		</div>
		<div class="one_half">
			<h6 class="title">Στοιχεια Επικοινωνιας</h6>
			<ul class="nospace linklist contact">
				<li><i class="fa fa-map-marker"></i>
					<address>
						Οδός &amp; Αριθμός, Πόλη, Τ.Κ.
					</address>
				</li>
				<li><i class="fa fa-phone"></i> +00 (123) 456 7890</li>
				<li><i class="fa fa-fax"></i> +00 (123) 456 7890</li>
				<li><i class="fa fa-envelope-o"></i> info@kiddom.com</li>
			</ul>
		</div>
	</footer>
</div>
<!-- ################################################################################################ -->
<div class="wrapper row5">
	<div id="copyright" class="hoc clear">
		<!-- ################################################################################################ -->
		<p class="fl_left">Copyright &copy; 2016 - All Rights Reserved - <a href="#">Domain Name</a></p>
		<!--  <p class="fl_right">Template by <a target="_blank" href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>-->
		<!-- ################################################################################################ -->
	</div>
</div>



<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
<script src="../layout/scripts/jquery.min.js"></script>
<script src="../layout/scripts/jquery.backtotop.js"></script>
<script src="../layout/scripts/jquery.mobilemenu.js"></script>
<script src="../layout/scripts/jquery.flexslider-min.js"></script>
<script src="../layout/scripts/jquery-ui.js"></script>
<script src="../scripts/register_new.js"></script>
</body>

</html>